{% extends "padre.html" %}

{%  load static %}


{% block contenido %}
    
<h1 style="color:white" text-align="center">Lista proveedores</h1> 
    <table class="table">
        <thead>
          <tr>
            <th scope="col" style="color: white">id</th>
            <th scope="col" style="color: white">Nombre</th>
            <th scope="col" style="color: white">Telefono</th>          
          </tr>
        </thead>
        <tbody>
            {% for n in proveedores %}
            <tr>
                <th scope="row" style="color: white">{{n.id}}</th>
                <td style="color: white">{{n.nombre}}</td>
                <td style="color: white">{{n.telefono}}</td>
                <td><a href="{% url 'elimina_proveedores' n.id %}">Eliminar</a></td> 
                <td><a href="{% url 'modificar_proveedores' n.id %}">Modificar</a></td>  
            </tr>
            {% endfor %}        
        
        </tbody>
      </table>
      <button>
        <a href="alta_proveedores">Agregar proveedor</a>
      </button>

      <button>
        <a href="{% url 'inicio' %}">Volver</a>
      </button>
{% endblock %}